<% layout('layouts/boilerplate') -%>
<body>
    <!-- <form method="GET" action="/listings/new">
        <button>Create new Listing</button>
    </form> -->
    <!-- <h1>All listings</h1> -->
     <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
        }

        .filter {
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }
     </style>

    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
    </div>

        
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 mt-3">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card" >
                        <img src="<%= listing.image %>" class="card-img-top" alt="image" style="height: 15rem;">
                        <div class="card-img-overlay">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= listing.title %></h5>
                            <p class="card-text"><%= listing.price %>/day <br>
                             <%= listing.location %>, <%= listing.country %></p>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>

</body>
